## package has a dynamic library
useDynLib(flipflop)

export('flipflop')

importFrom('Matrix', sparseMatrix, rowSums, colSums)
importClassesFrom('Matrix', index, number, replValue)
import('IRanges')
importFrom('GenomicRanges', GRanges, GRangesList)
