## package has a dynamic library
useDynLib(flipflop)

export('flipflop')

import('methods')
importFrom('Matrix', sparseMatrix, rowSums, colSums)
importFrom("utils", "read.table", "tail")
importClassesFrom('Matrix', index, number, replValue)
import('IRanges')
importFrom('GenomicRanges', GRanges, GenomicRangesList)
importFrom('parallel', mclapply)
